html, body {
    height: 100%;
}


body {
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
}

span {
    padding-inline: 0.5rem;
}

.hero {
    width: 100%;
}


#previous-searches button{
    color: white;
}